#title {
    text-align: center;
    margin: 0 5%;
    letter-spacing: 3em;
}

#left {
    border: 1px solid;
    width: 30%;
    height: 70%;
    box-shadow: 5px 5px 5px #888888;
    margin-right: 15px;
}

#right {
    border: 1px solid;
    width: 70%;
    box-shadow: 5px 5px 5px #888888;
    height: 80%;
}

#container {
    display: flex;
    margin: 5px;
    margin: 2% 8%;
}

body {
    margin: 2% 2%;
    padding: 10px;
    box-shadow: 1px 1px 1px #888888;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid white;
    width: 100%;
    text-align: center;
    height: 20%;
    margin: auto auto;
}

#right li {
    height: 10%;
}

li:hover {
    background: #F7F6F6;
}